*{
  margin: 0;
  padding: 0;
}
body{
  background-color: beige;

}

h1{
  text-align: center;
}

.menu{
  display: flex;
  padding: 0;
  list-style-type: none;
}

.menu a{
  display: block;
  min-width: 120px;
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: rgb(83, 201, 241);
  text-decoration: none;
  border: 2px solid black;
  border-radius: 4px;
  text-align: center;
}
.menu a:hover{
  background-color: aquamarine;
  transition: all 0.5s;
}

.mainContent{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vh;
  width: 100vw;
}

p{
  margin: 15px;
  max-width: 75vw;
}

#bike{
  width: 80vw;
  height: 20vh;
  margin: 1rem;
  margin: 0;
  padding: 0;
}

footer{
  display: grid;
  grid-template-columns: 15vw 15vw 15vw 15vw 15vw 15vw;
  grid-template-rows: 5vh 5vh 5vh 5vh 5vh;
  gap: 10px;
}

.h2footer{
  grid-column-start: 2;
  grid-column-end: 5 ;
  grid-row-start: 1;
  grid-row-end: 1;
}

#name{
  grid-column-start: 2;
  grid-column-end: 4 ;
  grid-row-start: 1;
  grid-row-end: 2;
}

#firstname{
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
}

#message{
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 4;
}